html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #1c2541;
  color: white;
}

ul.show {
  transform: none;
}

.logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #006d77;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(45, 255, 196, 0.11);
  -moz-box-shadow: 0px 0px 12px 0px rgba(45, 255, 196, 0.11);
  box-shadow: 0px 0px 12px 0px rgba(45, 255, 196, 0.11);
}

.ham {
  display: block;
  width: 50px;
  left: 95%;
  position: relative;
  z-index: 1;
  font-size: 1.8rem;
}

header {
  position: fixed;
  width: 100%;
  background: #182138;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.43);
}

header nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 20px;
  background: #0b132b;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.sidebar li {
  align-self: flex-end;
  margin-right: 20%;
  padding: 10px 0;
  font-size: 22px;
}

.sidebar li a {
  text-decoration: none;
  color: gold;
}

.menuToggle {
  display: block;
  position: relative;
}

.hero-section {
  padding-bottom: 100%;
  padding-top: 100px;
}

.hero-section h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 8rem;
  word-spacing: 1000rem;
  line-height: 100px;
  /* text-align: center; */
  padding: 20px;
}

.hero-section p {
  /* margin-top: 10px; */
  font-size: 1.6rem;
  text-align: center;
  padding: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}

.hero-section img {
  display: none;
}

.hero-section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  width: 70%;
  margin: 0 auto;
}

.hero-section ul li {
  padding: 5px;
  border-radius: 5px;
}

.hero-section ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: gold;
  font-family: 'Roboto', sans-serif;
}

section[class^='section-'] {
  height: 100vh;
  background: #202b4a;
}
