:root {
  --dark: #000000;
  --light-dark: rgba(18, 18, 18, 0.2);
}

html {
  font-size: 62.5%;
}

h1,
h2,
a,
p,
h3 {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: var(--dark);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
}

.logo img {
  max-width: 100px;
  height: auto;
}

main {
  padding: 0 5%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 10% 45px 2%;
  gap: 20px;
  border-bottom: 2px solid white;
}

h2 {
  font-size: 2rem;
}

section[class^='project-'] {
  background: var(--light-dark);
}

section[class^='project-'] p {
  padding: 10px;
}

fa-twitter,
fa-github {
  color: white;
}

footer {
  padding: 30px 5%;
}

footer h3 {
  margin-bottom: 10px;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer ul li {
  display: block;
  padding: 10px;
}

footer li i {
  margin-left: 20px;
}
