:root {
  --dark: #000000;
  --light-dark: rgba(18, 18, 18, 0.2);
}

.hidden {
  display: none;
}

button {
  background: none;
  border: none;
}

button i {
  font-size: 2rem;
  color: var(--accent-color);
}

html {
  font-size: 62.5%;

  --hue: 0; /* Blue */
  --accent-hue: 28; /* Orange */

  --text-color-normal: hsl(var(--hue), 0%, 0%);
  --text-color-light: hsl(var(--hue), 15%, 35%);
  --text-color-richer: hsl(var(--hue), 50%, 72%);
  --text-color-highlight: hsl(var(--accent-hue), 70%, 45%);
  --link-color: hsl(var(--hue), 90%, 70%);

  --accent-color: hsl(var(--accent-hue), 0%, 0%);
  /* --error-color: rgb(240, 50, 50); */
  --button-background: hsl(var(--hue), 63%, 43%);
  --background: hsl(var(--hue), 0%, 100%);
}

html[data-theme='dark'] {
  --hue: 210; /* Blue */
  --accent-hue: 122; /* Orange */
  --text-color-normal: hsl(var(--hue), 10%, 62%);
  --text-color-light: hsl(var(--hue), 15%, 35%);
  --text-color-richer: hsl(var(--hue), 50%, 72%);
  --text-color-highlight: hsl(var(--accent-hue), 70%, 45%);
  --link-color: hsl(var(--hue), 90%, 70%);
  --accent-color: hsl(var(--accent-hue), 0%, 100%);
  --error-color: rgb(240, 50, 50);
  --button-background: hsl(var(--hue), 63%, 43%);
  --button-text-color: black;
  --background: hsl(var(--hue), 20%, 12%);
}

h1,
h2,
a,
p,
h3 {
  font-size: 1.6rem;
  color: var(--text-color-normal);
  text-decoration: none;
  list-style: none;
  padding: 5px;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: var(--background);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
}

.logo img {
  max-width: 100px;
  height: auto;
  filter: invert(36%) sepia(76%) saturate(1400%) hue-rotate(151deg)
    brightness(99%) contrast(97%);
}

main {
  padding: 0 5%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 10% 45px 2%;
  gap: 20px;
  border-bottom: 2px solid var(--accent-color);
}

h2 {
  font-size: 2rem;
}

section[class^='project-'] {
  background: var(--light-dark);
}

section[class^='project-'] p {
  padding: 10px;
}

fa-twitter,
fa-github {
  color: white;
}

footer {
  padding: 30px 5% 50px;
}

footer h3 {
  margin-bottom: 10px;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer ul li {
  display: block;
  padding: 10px;
}

footer li i {
  margin-left: 20px;
  color: var(--button-text-color);
}
